.cajita {
    width: 250px;
    height: 250px;
    background-color: tomato;
    border-radius: 50%;
}

.cajita:hover {
    animation: mover 2s linear infinite alternate;
}

button {
    margin-top: 20px;
    width: 200px;
    height: 80px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: blanchedalmond;
    cursor: pointer;
    transition: transform .1s;
}

button:active {
    transition: transform .1s;
    transform: translateY(2px);
}

@keyframes mover {
    30% {
        transform: translate(30%, 100px);
        background-color: yellow;
    }

    100% {
        transform: translate(100%, 50px);
        background-color: aqua;
    }
}