* {
  box-sizing: border-box;
}

.foto {
  width: 250px;
  height: 250px;
  background-color: aquamarine;
  margin: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.perfil {
  width: 300px;
  padding: 15px;
  text-align: center;
  border: 1px solid;
}

.proyectos-principal {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.proyectos-contenedor {
  display: flex;
}

.proyecto {
  margin: 10px;
}
